@import url("components/container.css")   @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap")





body { 
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
 }

 h1, h2, h3 {
 	font-family: 'Roboto', sans-serif;
 	font-weight: bold;
 }